body {
    background: url("/static/img/background.jpg") repeat;
}
.header, .body {
    max-width: 1240px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}
.alert {
    display: none;
}

/* Site banner */
.header > img {
    width: 100%;
    display: block;
    margin: 0 auto;
}

/* Navbar */
.navbar {
    border-radius: 0 0 4px 4px;
    min-height: unset;
}

.navbar-nav {
    margin: 0 0;
}

.navbar-collapse.collapse {
    display: block !important;
}

.navbar-nav > li, .navbar-nav {
    float: left;
}

.navbar-nav.navbar-right:last-child {
    margin-right: -15px !important;
}

.navbar-right {
    float: right !important;
}

.navbar-nav {
    margin-left: 0;
}

/* Left panel */
.left-panel {
    float: left;
    display: block;
    height: 100%;
    width: 25%;
    padding-left: 0;
    padding-right: 0;
}

/* TS Viewer */
.tsviewer * {
    overflow: hidden;
}

#ts3v_1101309 > div:last-child {
    display: none;
}

/* CSGO Viewer */
.csgo #status-frame {
    margin: 0 auto;
    display: block;
}

.csgo #status-image {
    display: none;
}

/* User / Admin Menu */
.bubble > .list-group {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 0;
}
.bubble .list-group-item:first-child,
.bubble .list-group-item:last-child {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.bubble .list-group-item {
    text-align: center;
}

/* Site Content */
.bubble {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #ffffff;
    margin-bottom: 20px;
    padding: 5px 15px 5px 15px;
}
.bubble p {
    line-height: 1.5em;
    font-size: 1.1em;
}
.bubble hr {
    margin: 5px -15px 5px -15px;
    border: 0;
    border-top: 1px solid #ccc;
}

.content {
    float: left;
    padding-left: 10px;
    padding-right: 0;
    width: 75%;
}

h4 {
    display: block;
    margin: .2em 0 1em 0;
    text-align: center;
    font-size: 1.4em;
}

.content p {
    display: block;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .left-panel {
        width: 100%;
    }

    .content {
        width: 100%;
    }

    .content {
        padding: 0;
    }

    .csgo #status-frame {
        display: none;
    }

    .csgo #status-image {
        display: block;
    }

    .csgo #status-image > img {
        display: block;
        height: auto;
        width: 100%;
    }
}