{% extends "template.html" %}

{% block nav %}#nav-home{% end %}

{% block content %}
{% for post in posts %}
<div class="bubble clearfix">
    <h4>
        {{ post.title }}
    </h4>
    <p>{% raw post.body %}</p>
    <div class="post-footer">
        <div class="pull-right">
            <a href="#" onclick="delete_post({{ post.id }})">Delete Post</a>
            <span>{{ 'By %s, %s' % (post.username.title(), post.created_on.strftime('%Y-%m-%d')) }} </span>
        </div>
    </div>
</div>
{% end %}
{% end %}

{% block left-panel-user %}
{% if user.permissions.create_post %}
<div class="list-group">
    <a href="/create_post" id="item-create-post" class="list-group-item">Create Post</a>
</div>
<hr>
{% end %}
{% end %}