{% extends "template.html" %}

{% block nav %}#nav-home{% end %}

{% block content %}
{% for post in posts %}
<div class="bubble clearfix">
    <h4>
        {{ post.title }}
    </h4>
    <p>{% raw post.body %}</p>
    <div class="post-footer">
        <div class="pull-right">
            {% if user.permissions.create_post %}
            <form id="{{ post.id }}">
                {% module xsrf_form_html() %}
                <a href="/edit_post/{{ post.id }}">Edit</a> |
                <a href="#" onclick="delete_post({{ post.id }})">Delete</a>
            </form>
            {% end %}
            <span>{{ 'By %s, %s' % (post.created_by, post.created_on.strftime('%Y-%m-%d')) }} </span>
        </div>
    </div>
</div>
{% end %}
{% end %}

{% block left-panel-user %}
{% if user.permissions.create_post %}
<div class="list-group">
    <a href="/create_post" id="item-create-post" class="list-group-item">Create Post</a>
</div>
<hr>
{% end %}
{% end %}